@use "@/app/scss/variables" as *;

header {
  width: 100vw;
  height: calc(75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 995;

  .header-top-separator {
    width: 100%;
    height: 2px;
    background-color: $bg;
  }

  .header-contents {
    width: calc(100vw);
    padding: 0 50px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $bg;

    .left {
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      a {
        color: $textBlack;
        text-decoration: none;

        &:hover {
          color: $textGray;
        }
      }

      .name {
        font-size: 2.2rem;
        cursor: pointer;
      }
    }

    .not-home {
      display: none;
    }

    .center {
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4rem;

      a {
        color: $textBlack;
      }

      .skills,
      .projects,
      .about {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: $textBlack;
        border-radius: 15px;
        font-size: 1.5rem;
        transition: .25s ease-out;
        cursor: pointer;

        &:hover {
          transition: .25s ease-out;
          background-color: $accentGreen;
          color: $bg;
        }
      }

      .skills {
        &::after {
          position: absolute;
          content: "";
          width: 50%;
          height: 1px;
          background: $bg;
          transition: transform 0.25s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
          margin-top: 15px;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
          width: 50%;
        }
      }

      .projects {
        &::after {
          position: absolute;
          content: "";
          width: 70%;
          height: 1px;
          background: $bg;
          transition: transform 0.25s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
          margin-top: 15px;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
          width: 70%;
        }
      }

      .about {
        &::after {
          position: absolute;
          content: "";
          width: 55%;
          height: 1px;
          background: $bg;
          transition: transform 0.25s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
          margin-top: 15px;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
          width: 55%;
        }
      }
    }

    .right {
      width: 33%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      a {
        color: $bg;
      }

      .contact,
      .go-back {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: $textBlack;
        border-radius: 15px;
        font-size: 1.5rem;
        background-color: $accentGreen;
        z-index: 995;
        cursor: pointer;

        &::after {
          position: absolute;
          content: "";
          width: 70%;
          height: 1px;
          background: $bg;
          transition: transform 0.25s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
          margin-top: 15px;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
          width: 70%;
        }
      }
    }

    .menu-button {
      display: none;
    }

    .menu-opened, .menu-closed {
      display: none;

      .mask-active, .mask-inactive {
        display: none;
      }
    }
  }

  .header-bottom-separator {
    width: 95%;
    height: 2px;
    background-color: $textBlack;
  }
}

//*-----> Tablets
@media only screen and (max-width: 1024px) {
}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {
  header {
    .header-contents {
      width: calc(100vw);
      padding: 0 20px;

      .left {
        .name {
          font-size: 1.8rem;
        }
      }

      .center {
        display: none;
      }

      .right {
        .contact {
          width: 90px;
          height: 27px;
          font-size: 1.3rem;
        }
      }

      .menu-button {
        display: block;
        width: 10%;
        // height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        z-index: 999;

        svg {
          width: 30px;
        }
      }

      
      .menu-closed {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        width: 200px;
        height: 300px;
        background-color: $textBlack;
        border-radius: 25px 0 25px 25px;
        transform: scale(0);
        transition: transform 0.25s ease-out;
        transform-origin: top right;
        z-index: 998;
        border: solid 1px black;
        border-right: none;
        border-top: none;

        .mask-inactive {
          display: none;
        }
  
        
        .menu-container {
          display: block;
          
          .menu-separator {
            display: block;
            width: 70%;
            height: 1px;
            transform: scaleX(0);
          }
          
          .menu-skills,
          .menu-projects,
          .menu-about {
            opacity: 0;
          }
        }
      }
      
      .menu-opened {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 998;
        background-color: $textBlack;
        width: 200px;
        height: 300px;
        opacity: 0.98;
        border-radius: 25px 0 25px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: scale(1);
        transform-origin: top right;
        transition: transform 0.25s ease-out;
        border: solid 1px black;
        border-right: none;
        border-top: none;

        .mask-active {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          opacity: 0;
          width: 100vw;
          height: 100vh;
          z-index: 996;
        }

        .menu-container {
          display: block;
          z-index: 998;
          color: $bg;
          font-size: 1.5rem;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 80px 10px 10px 10px;

          .menu-separator {
            display: block;
            height: 1px;
            background-color: $bg;
            width: 70%;
            transform: scaleX(1);
            transition: transform .35s;
            transition-delay: .25s;
          }

          .menu-skills,
          .menu-projects,
          .menu-about {
            display: block;
            height: 100%;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $bg;
            font-size: 1.5rem;
            cursor: pointer;
          }

          .menu-skills {
            opacity: 1;
            height: 50px;
            transition: opacity 0.25s;
            transition-delay: 0.25s;
          }

          .menu-projects {
            opacity: 1;
            height: 50px;
            transition: opacity 0.25s;
            transition-delay: 0.35s;
          }

          .menu-about {
            opacity: 1;
            height: 50px;
            transition: opacity 0.25s;
            transition-delay: 0.45s;
          }
        }
      }
    }
  }
}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {
}
