@use "@/app/scss/variables" as *;

header {
  width: 100vw;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $bg;
  opacity: 0.95;
  position: fixed;
  top: 0;
  z-index: 999;

  .header-top-separator {
    width: 95%;
    height: 2px;
  }

  .header-contents {
    width: calc(100vw - 50px - 50px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {

      a {
        color: $textBlack;
        text-decoration: none;

        &:hover {
          color: $textGray;
        }
      }

      .name {
        font-size: 22px;
        cursor: pointer;
      }
    }

    .center {
      display: flex;
      flex-direction: row;
      gap: 40px;

      a {
        color: $textBlack;
      }

      .skills,
      .projects,
      .about {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: $textBlack;
        border-radius: 15px;
        font-size: 15px;
        cursor: pointer;
      }

      .skills {
        &::after {
          position: absolute;
          content: "";
          width: 50%;
          height: 1px;
          background: $textBlack;
          transition: transform 0.25s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
          margin-top: 15px;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
          width: 50%;
        }
      }

      .projects {
        &::after {
          position: absolute;
          content: "";
          width: 70%;
          height: 1px;
          background: $textBlack;
          transition: transform 0.25s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
          margin-top: 15px;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
          width: 70%;
        }
      }

      .about {
        &::after {
          position: absolute;
          content: "";
          width: 55%;
          height: 1px;
          background: $textBlack;
          transition: transform 0.25s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
          margin-top: 15px;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
          width: 55%;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: row;

      a {
        color: $textBlack;
      }

      .contact {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: $textBlack;
        border-radius: 15px;
        font-size: 15px;
        background-color: $accentGreen;
        cursor: pointer;

        &::after {
          position: absolute;
          content: "";
          width: 70%;
          height: 1px;
          background: $textBlack;
          transition: transform 0.25s ease-out;
          transform-origin: bottom right;
          transform: scaleX(0);
          margin-top: 15px;
        }

        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
          width: 70%;
        }
      }
    }
  }

  .header-bottom-separator {
    width: 95%;
    height: 2px;
    background-color: $textBlack;
  }
}
