@use "@/app/scss/variables" as *;

#quoteTwo-section {
  width: 100vw;
  height: 25vh;
  background-color: $textBlack;
  color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $fontOpenSansLight;

  .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px;

    .quote {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 22px;

      span {
        display: block;
      }
    }

    .credit {
      position: relative;
      left: 450px;
      font-size: 20px;
    }
  }
}

//*-----> Tablets Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

}

//*-----> Tablets Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {

}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {

}