@use "@/app/scss/variables" as *;

#hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .title-container {
    display: flex;
    flex-direction: column;
    padding: 100px 150px;

    .title-name {
      .name-one {
        font-size: 8.5rem;
        line-height: 30px;
        letter-spacing: -2px;
      }
      
      .name-two {
        font-size: 8.5rem;
        letter-spacing: -2px;
      }
    }

    .title {
      font-size: 6.5rem;
      letter-spacing: 2px;
      line-height: 50px;
      color: $textGray;
      font-family: $fontOpenSansLight;
    }
  }
}

//*-----> Tablets
@media only screen and (max-width: 1024px) {
  #hero-section {
    align-items: center;

    .title-container {
      align-items: center;
      justify-content: center;
      padding: 100px 100px;

      .title-name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        .name-one {
          font-size: 7rem;
          letter-spacing: 2px;
        }

        .name-two {
          font-size: 7rem;
          letter-spacing: 2px;
        }
      }

      .title {
        font-size: 6rem;
        letter-spacing: 3px;
      }
    }
  }
}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {
  #hero-section {
    align-items: center;

    .title-container {
      align-items: center;
      justify-content: center;
      padding: 75px 20px;

      .title-name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .6rem;

        .name-one {
          font-size: 3.5rem;
          letter-spacing: 1px;
        }

        .name-two {
          font-size: 3.5rem;
          letter-spacing: 1px;
        }
      }

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        line-height: 3rem;
        letter-spacing: 1px;
      }
    }
  }
}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {

}
