@use "@/app/scss/variables" as *;

#skills-section {
  width: 100vw;

  .skills-container {
    padding: 100px 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .title {
      font-family: $fontOpenSansBold;
      font-size: 3rem;
      height: 30%;
    }

    .skills-content {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 100px;

      .skills-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        flex-wrap: wrap;
        width: 45vw;

        .skills {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // opacity: 0;

          &:hover {
            .icon-container {
              svg {
                scale: 1.2;
                transition: 0.2s ease-in-out;
              }
            }
          }

          .name {
            font-size: 1.4rem;
          }

          .icon-container {
            svg {
              width: 60px;
              scale: 1;
              transition: 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

//*-----> Tablets
@media only screen and (max-device-width: 1024px) {
  #skills-section {
    .skills-container {
      padding: 200px 50px;
      height: 90vh;

      .title {
        font-size: 3.5rem;
      }

      .skills-content {
        justify-content: flex-start;
        padding: 0 0 50px 0;

        .skills-list {
          gap: 10vw;
          width: 50vw;

          .skills {
            .name {
              font-size: 1.7rem;
            }

            .icon-container {
              svg {
                width: 70px;
              }
            }
          }
        }
      }
    }
  }
}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {
  #skills-section {
    .skills-container {
      padding: 150px 20px;
      height: auto;

      .title {
        font-size: 2.6rem;
        height: auto;
      }

      .skills-content {
        height: auto;
        padding-top: 60px;

        .skills-list {
          width: 75vw;
          gap: 17vw;

          .skills {
            .name {
              font-size: 1.3rem;
            }

            .icon-container {
              svg {
                width: 60px;
              }
            }
          }
        }
      }
    }
  }
}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {
}
