@use "@/app/scss/variables" as *;

#contact-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: clip;

  .contact-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px 170px 150px;
    gap: 100px;

    .contact-title {
      font-family: $fontOpenSansBold;
      font-size: 3rem;
    }

    .contact-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;

      .contact-info {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 55px;

        .info-title {
          font-size: 3rem;
        }

        .info-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 20px;

          .info-phone {
            .title {
              font-size: 2rem;
            }

            .content {
              text-decoration: none;
              color: $textGray;

              p {
                font-size: 1.5rem;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .info-email {
            .title {
              font-size: 2rem;
            }

            .content {
              text-decoration: none;
              color: $textGray;

              p {
                font-size: 1.5rem;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .contact-form {
        width: 66%;

        .form-content {
          display: flex;
          flex-direction: column;
          gap: 20px;

          input,
          textarea {
            background-color: $bg;
            box-shadow: none;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            border-radius: 15px;
            padding: 10px;
            font-family: $fontOpenSansLight;
          }

          .content-one {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .name {
              display: inline-flex;
              flex-direction: column;
              gap: 5px;
              width: 49%;
              font-size: 1.7rem;

              input {
                width: calc(100% - 20px);
                height: 35px;
                font-size: 1.5rem;
              }
            }

            .email {
              display: inline-flex;
              flex-direction: column;
              gap: 5px;
              width: 49%;
              font-size: 1.7rem;

              input {
                width: calc(100% - 20px);
                height: 35px;
                font-size: 1.5rem;
              }
            }
          }

          .message {
            display: flex;
            flex-direction: column;
            gap: 5px;
            max-width: 100%;
            max-height: 50%;
            font-size: 1.7rem;

            textarea {
              display: block;
              width: calc(100% - 20px);
              font-size: 1.5rem;
            }
          }

          .send {
            width: 200px;
            height: 35px;
            border: none;
            border-style: solid;
            border-color: black;
            border-radius: 15px;
            border-width: 1px;
            background-color: $bg;
            color: $textBlack;
            font-family: $fontOpenSans;
            font-size: 1.6rem;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transition: background-color .25s ease-out;
            cursor: pointer;

            &:hover {
              transition: background-color .25s ease-out;
              background-color: $accentGreen;
            }

            &::after {
              position: absolute;
              content: "";
              width: 3.8%;
              height: 1px;
              background: $textBlack;
              transition: transform 0.25s ease-out;
              transform-origin: bottom right;
              transform: scaleX(0);
              margin-top: 15px;
            }

            &:hover::after {
              transform-origin: bottom left;
              transform: scaleX(1);
              width: 3.8%;
            }
          }
        }
      }
    }
  }
}

//*-----> Tablets Portrait
@media only screen and (max-width: 1024px) {
  #contact-section {
    .contact-container {
      width: calc(100vw);
      padding: 150px 50px;

      .contact-title {
        font-size: 3.5rem;
      }

      .contact-content {
        .contact-info {
          gap: 60px;

          .info-title {
            font-size: 2.5rem;
          }

          .info-content {
            gap: 20px;

            .info-phone {
              .title {
                font-size: 1.8rem;
              }

              .content {
                p {
                  font-size: 1.3rem;
                }
              }
            }

            .info-email {
              .title {
                font-size: 1.8rem;
              }

              .content {
                p {
                  font-size: 1.3rem;
                }
              }
            }
          }
        }

        .contact-form {
          .form-content {
            .content-one {
              gap: 20px;
              .name {
                font-size: 1.5rem;

                input {
                  font-size: 1.3rem;
                  height: 35px;
                  width: 100%;
                }
              }

              .email {
                font-size: 1.5rem;

                input {
                  font-size: 1.3rem;
                  height: 35px;
                  width: 100%;
                }
              }
            }

            .message {
              font-size: 1.5rem;

              textarea {
                font-size: 1.3rem;
                height: 100px;
                width: 100%;
              }
            }

            .send {
              width: 90px;
              height: 35px;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {
  #contact-section {
    .contact-container {
      width: 100vw;
      padding: 150px 20px;

      .contact-title {
        font-size: 2.6rem;
      }

      .contact-content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;

        .contact-info {
          width: 100%;
          align-items: center;
          gap: 40px;

          .info-title {
            font-size: 2.4rem;
          }

          .info-content {
            align-items: center;
            text-align: center;
            gap: 25px;
          }
        }
        .contact-form {
          width: 100%;

          .form-content {
            justify-content: center;
            align-items: center;

            .content-one {
              flex-direction: column;
              width: 100%;
              gap: 15px;

              .name {
                display: block;
                width: 100%;

                input {
                  width: 100%;
                  height: 40px;
                }
              }

              .email {
                display: block;
                width: 100%;

                input {
                  width: 100%;
                  height: 40px;
                }
              }
            }

            .message {
              width: 100%;

              textarea {
                width: 100%;
                height: 100px;
              }
            }
          }
        }
      }
    }
  }
}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {
}
