@use "@/app/scss/variables" as *;

#quoteOne-section {
  width: 100vw;
  height: auto;
  background-color: $textBlack;
  color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $fontOpenSansLight;
  
  .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    
    .quote {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2.1rem;
      
      span {
        display: block;
      }
    }
    
    .credit {
      position: relative;
      left: 450px;
      font-size: 1.9rem;
    }
  }
}

//*-----> Tablets
@media only screen and (max-width: 1024px) {
  #quoteOne-section {
    .quote-container {
      padding: 50px 50px;

      .quote {
        font-size: 2.1rem;
      }

      .credit {
        left: 300px;
        font-size: 1.9rem;
      }
    }
  }
}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {
  #quoteOne-section {
    .quote-container {
      padding: 60px 20px;

      .quote {
        font-size: 1.3rem;
      }

      .credit {
        left: 0;
        padding-top: 10px;
        font-size: 1.2rem;
      }
    }
  }
}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {

}