@use "@/app/scss/variables" as *;

#projects-section {
  width: 100vw;
  height: auto;
  background-color: $textBlack;
  color: $bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  overflow: hidden;

  #projects-container {
    padding: 250px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-family: $fontOpenSansBold;
      font-size: 3rem;
    }

    .projects-list {
      display: flex;
      flex-direction: column;
      width: calc(100vw - 150px - 150px);
      padding-top: 50px;

      .project {
        width: 100%;
        height: 250px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;

        .hover-container {
          width: calc(100vw - 300px);
          height: 250px;
          z-index: 3;
          border-radius: 20px;
          position: absolute;
          overflow: hidden;
        }

        .on-hover-top {
          z-index: 2;
          position: absolute;
          height: 250px;
          width: calc(100vw - 300px);
          background-color: $textGray;
        }

        .hover-exit-bottom {
          z-index: 2;
          position: absolute;
          height: 250px;
          width: calc(100vw - 300px);
          background-color: $textGray;
          transition: transform 0.25s ease-in-out;
          transform: scaleY(0);
          transform-origin: bottom;
        }

        &:hover {
          .on-hover-top {
            background-color: $textGray;
            transform-origin: top;
            transform: scaleY(1);
            transition: transform 0.25s ease-in-out;
          }
        }

        .on-hover-bottom {
          z-index: 2;
          position: absolute;
          height: 250px;
          width: calc(100vw - 300px);
          background-color: $textGray;
        }

        .hover-exit-top {
          z-index: 2;
          position: absolute;
          height: 250px;
          width: calc(100vw - 300px);
          background-color: $textGray;
          transition: transform 0.25s ease-in-out;
          transform: scaleY(0);
          transform-origin: top;
        }

        &:hover {
          .on-hover-bottom {
            background-color: $textGray;
            transform-origin: bottom;
            transform: scaleY(1);
            transition: transform 0.25s ease-in-out;
          }
        }

        .left,
        .right {
          z-index: 3;
        }

        .left {
          border-right-style: solid;
          border-width: 1px;
          border-color: black;
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px;

          .left-top {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 30%;

            .project-title {
              font-family: $fontOpenSansItalic;
              font-size: 3rem;
            }

            .project-tools {
              display: flex;
              flex-direction: row;
              width: 100%;

              ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style: none;
                gap: 20px;
                margin: 0;
                padding: 5px 0;
                font-size: 1.2rem;
                font-family: $fontOpenSansLightItalic;
              }
            }
          }

          .left-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 50%;
            font-family: $fontOpenSansLight;

            .project-year {
              font-size: 1.5rem;
            }

            .project-type {
              font-size: 1.5rem;
            }
          }

          .no-source {
            height: 20%;

            .project-source {
              display: none;
            }
          }

          .left-bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            height: 20%;
            font-family: $fontOpenSansLight;

            a {
              color: $bg;
            }

            .project-source {
              display: flex;
              flex-direction: row;
              gap: 5px;
              align-items: center;

              &:hover {
                color: $accentGreen;

                svg {
                  fill: $accentGreen;
                }
              }

              svg {
                fill: $bg;
                width: 22px;
              }

              p {
                font-size: 1.5rem;
                text-decoration: underline;
              }
            }
          }
        }

        .right {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 20px;
          width: 70%;

          .project-content {
            width: 47%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .right-top {
              height: 80%;

              .project-description {
                font-family: $fontOpenSansLight;
                text-align: left;
                font-size: 1.4rem;
                // font-family: $fontOpenSansLight;
              }
            }

            .no-live {
              height: 20%;

              .project-live {
                display: none;
              }
            }

            .right-bottom {
              height: 20%;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              font-family: $fontOpenSansLight;

              a {
                color: $bg;
              }

              .project-live {
                display: flex;
                flex-direction: row;
                gap: 5px;
                width: fit-content;
                align-items: center;
                text-decoration: underline;

                &:hover {
                  color: $accentGreen;

                  svg {
                    fill: $accentGreen;
                  }
                }

                svg {
                  fill: $bg;
                  width: 22px;
                }

                p {
                  font-size: 1.5rem;
                  text-decoration: underline;
                }
              }
            }
          }

          .project-image {
            position: relative;
            width: 47%;
            height: auto;
            border-radius: 15px;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            overflow: hidden;
          }
        }
      }

      .projects-all {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        border-color: black;
        margin-top: 100px;

        &:hover {
          background-color: $textGray;
        }

        .content {
          margin: 25px;
          font-family: $fontOpenSansLightItalic;
          font-size: 20px;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            color: $accentGreen;

            a {
              color: $accentGreen;
            }
          }

          a {
            color: $bg;
          }
        }
      }
    }
  }
}

//*-----> Tablets Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}

//*-----> Tablets Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {
}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {
}
