@use "@/app/scss/variables" as *;

#about-section {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .about-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 100px 150px;

    .about-title {
      font-family: $fontOpenSansBold;
      font-size: 3rem;
    }

    .about-content {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 150px 0;

      .about-image {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .container-main {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .container-div-one {
            background-color: $accentGreen;
            width: 100px;
            height: 110px;
            position: absolute;
            left: -120px;
            top: -163px;
          }

          .container-div-two {
            position: absolute;
            width: 180px;
            height: 269px;
            overflow: hidden;
            z-index: 10;
          }

          .container-div-three {
            background-color: $accentGreen;
            width: 100px;
            height: 110px;
            position: absolute;
            right: -120px;
            bottom: -163px;
          }
        }
      }

      .about-text {
        width: 50%;
        font-size: 1.65rem;

        p {
          padding: 10px 0;
        }
      }
    }
  }
}

//*-----> Tablets
@media only screen and (max-width: 1024px) {
  #about-section {
    .about-container {
      padding: 150px 50px;

      .about-title {
        font-size: 3.5rem;
      }

      .about-content {
        padding: 100px 0 0 0;

        .about-image {
          .container-main {
            .container-div-one {
              width: 80px;
              height: 88px;
              left: -105px;
              top: -145px;
            }

            .container-div-two {
              width: 160px;
              height: 239px;
            }

            .container-div-three {
              width: 80px;
              height: 88px;
              right: -105px;
              bottom: -145px;
            }
          }
        }

        .about-text {
          font-size: 1.5rem;
        }
      }
    }
  }
}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {
  #about-section {
    width: 100vw;

    .about-container {
      padding: 150px 20px;
      width: calc(100vw - 40px);

      .about-title {
        font-size: 2.6rem;
      }

      .about-content {
        flex-direction: column;
        width: 100%;
        padding: 150px 0 0 0;

        .about-image {
          height: 100px;
          width: 100%;

          .container-main {
            .container-div-one {
              width: 70px;
              height: 80px;
              left: -95px;
              top: -135px;
            }

            .container-div-two {
              width: 150px;
              height: 225px;
            }

            .container-div-three {
              width: 70px;
              height: 80px;
              right: -95px;
              bottom: -135px;
            }
          }
        }

        .about-text {
          width: 100%;
          padding-top: 125px;
          font-size: 1.6rem;
          text-align: center;
        }
      }
    }
  }
}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {
}
