@use "@/app/scss/variables" as *;

#about-section {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: clip;

  .about-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 150px;

    .about-title {
      font-family: $fontOpenSansBold;
      font-size: 3rem;
    }

    .about-content {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 150px 0;

      .about-image {
        position: relative;
        width: 50%;
        height: 260px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:hover {
          .container-main {
            .container-div-one {
              transform: translateY(100%);
              box-shadow: 0px 0px 10px 0px $textGray;
              border-radius: 50px;

              button {
                svg {
                  opacity: 1;
                }
              }
            }

            .container-div-two {
              scale: 1.05;

              .image-cover {
                opacity: 0.8;
              }
            }

            .container-div-three {
              transform: translateY(-100%);
              box-shadow: 0px 0px 10px 0px $textGray;
              border-radius: 50px;

              button {
                svg {
                  opacity: 1;
                }
              }
            }
          }
        }

        .container-main {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 30%;

          .container-div-one {
            background-color: $accentGreen;
            width: 60px;
            height: 60px;
            position: absolute;
            left: -90px;
            top: -90px;
            border-radius: 15px;
            transform: translateY(0);
            transition: 0.25s ease-in-out;

            button {
              width: 100%;
              height: 100%;
              cursor: pointer;
              border-radius: 15px;
              background-color: transparent;
              border-style: none;

              &:hover {
                svg {
                  animation: arrowLeftHover 0.8s linear infinite;

                  @keyframes arrowLeftHover {
                    0% {
                      transform: translateX(0);
                    }
                    25% {
                      transform: translateX(0);
                    }
                    50% {
                      transform: translateX(-5px);
                    }
                    75% {
                      transform: translateX(0);
                    }
                    100% {
                      transform: translateX(0);
                    }
                  }
                }
              }

              svg {
                width: 100%;
                height: 40px;
                fill: $bg;
                opacity: 0;
                transition: 0.25s ease-in-out;
              }
            }
          }

          .container-div-two {
            position: absolute;
            width: 170px;
            height: 259px;
            overflow: hidden;
            z-index: 10;
            border-radius: 15px;
            box-shadow: 0px 0px 10px 0px $textBlack;
            scale: 1;
            transition: 0.25s ease-in-out;
            // animation: ImageAura 1s linear infinite;

            // @keyframes ImageAura {
            //   0% {
            //     box-shadow: 0px 0px 10px 0px $accentGreen;
            //   }
            //   50% {
            //     box-shadow: 0px 0px 13px 0px $accentGreen;
            //   }
            //   100% {
            //     box-shadow: 0px 0px 10px 0px $accentGreen;
            //   }
            // }

            .image-cover {
              position: absolute;
              height: 100%;
              width: 100%;
              z-index: 11;
              background-color: $textBlack;
              opacity: 0;
              transition: 0.25s ease-in-out;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              p {
                color: $bg;
                font-size: 1.7rem;
                padding: 10px;
                text-align: center;
                transition: 0.25s ease-in-out;
                opacity: 1;
              }
            }
          }

          .container-div-three {
            background-color: $accentGreen;
            width: 60px;
            height: 60px;
            position: absolute;
            right: -90px;
            bottom: -90px;
            border-radius: 15px;
            transform: translateY(0);
            transition: 0.25s ease-in-out;

            button {
              width: 100%;
              height: 100%;
              cursor: pointer;
              border-radius: 15px;
              background-color: transparent;
              border-style: none;

              &:hover {
                svg {
                  animation: arrowRightHover 0.8s linear infinite;

                  @keyframes arrowRightHover {
                    0% {
                      transform: translateX(0);
                    }
                    25% {
                      transform: translateX(0);
                    }
                    50% {
                      transform: translateX(5px);
                    }
                    75% {
                      transform: translateX(0);
                    }
                    100% {
                      transform: translateX(0);
                    }
                  }
                }
              }

              svg {
                width: 100%;
                height: 40px;
                fill: $bg;
                opacity: 0;
                transition: 0.25s ease-in-out;
              }
            }
          }
        }
      }

      .about-text {
        width: 50%;
        font-size: 1.75rem;

        p {
          padding: 10px 0;
          text-align: center;
          transition: 0.25s ease-in-out;

          &:nth-child(1) {
            &:hover {
              scale: 1.05;
            }
          }

          &:nth-child(2) {
            &:hover {
              scale: 1.05;
            }
          }

          &:nth-child(3) {
            &:hover {
              scale: 1.05;
            }
          }
        }
      }
    }
  }
}

//*-----> Tablets
@media only screen and (max-width: 1024px) {
  #about-section {
    .about-container {
      padding: 150px 50px;

      .about-title {
        font-size: 3.5rem;
      }

      .about-content {
        padding: 100px 0 0 0;

        .about-image {
          .container-main {
            .container-div-one {
              width: 80px;
              height: 88px;
              left: -105px;
              top: -145px;
            }

            .container-div-two {
              width: 160px;
              height: 239px;
            }

            .container-div-three {
              width: 80px;
              height: 88px;
              right: -105px;
              bottom: -145px;
            }
          }
        }

        .about-text {
          font-size: 1.5rem;
        }
      }
    }
  }
}

//*-----> Mobile Phones Large
@media screen and (max-width: 767px) {
  #about-section {
    width: 100vw;

    .about-container {
      padding: 150px 20px;
      width: calc(100vw);

      .about-title {
        font-size: 2.6rem;
      }

      .about-content {
        flex-direction: column;
        width: 100%;
        padding: 150px 0 0 0;

        .about-image {
          height: 100px;
          width: 100%;

          .container-main {
            .container-div-one {
              width: 70px;
              height: 80px;
              left: -95px;
              top: -135px;
            }

            .container-div-two {
              width: 150px;
              height: 225px;
            }

            .container-div-three {
              width: 70px;
              height: 80px;
              right: -95px;
              bottom: -135px;
            }
          }
        }

        .about-text {
          width: 100%;
          padding-top: 125px;
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
  }
}

//*-----> Mobile Phones Small
@media screen and (max-width: 320px) {
}
